.pagination_container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  li{
    list-style: none;

    .btn{
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      padding: 15px;
      height: 25px;
      width: 25px;
      transition: background-color 0.1s linear;
      &:hover{
        background-color: blue;
        box-shadow: rgba(100, 100, 111, 0.2) 0 17px 39px 0;
        color: white;
      }
    }
  }
}
.disabled{
  display: none;
}
.active{
  background-color: blue;
  box-shadow: rgba(100, 100, 111, 0.2) 0 17px 39px 0;
  color: white;
}