.pagination_container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  li{
    list-style: none;
    .btn{
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      padding: 15px;
      height: 25px;
      width: 25px;
      transition: background-color 0.1s linear;
      &:hover{
        background-color: #2E2C2C;
        color: white;
      }
    }
  }
}
.disabled{
  pointer-events: none;
  color: lightslategrey;
}
.active{
  background-color: #2E2C2C;
  color: white;
}