.container {
  background: linear-gradient(0deg, #434343 1.38%, #000000 100%);
  height: 100vh;
  color: white;
  .content{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 990px){
      flex-direction: row;
    }
    img{
      width: 100%;
      height: 25%;
      padding: 25px;
      object-fit: cover;
      @media (min-width: 990px){
        flex-direction: row;
        width: 420px;
        height: 320px;
      }
    }
    .c{
      position: relative;
      display: flex;
      padding: 20px 25px;
      flex-direction: column;
      justify-content: center;
      @media (min-width: 990px){
        width: 50%;
        padding: 25px;
      }
      h2{
        font-size: 30px;
        font-weight: bold;
        line-height: 80%;
        @media (min-width: 393px){
          font-size: 50px;
        }
        @media (min-width: 990px){
          position: relative;
          width: 150%;
          top: 5px;
          left: -240px;
        }
      }
      p{
        margin-top: 15px;
        margin-bottom: 15px;
        @media (min-width: 990px){
          margin-top: 35px;
          margin-bottom: 0;
          height: 72px;
        }
      }
      .action{
        @media (min-width: 990px){
          margin-top: 60px;
        }
        .btn{
          font-weight: 600;
          cursor: pointer;
          color: white;
          width: 170px;
          margin-top: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid white;
          border-radius: 5px;
          padding: 15px 25px;
          transition: background-color 0.5s ease;
          &:hover{
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}